@{
    ViewData["Title"] = "Order shipped";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 col-md-6 alert alert-success text-center offset-lg-2 offset-md-3 ">
            <h1 class="success-text">
                Order submitted
            </h1>
            <em class="success-text">
                Your order will be ready for pick up in 1 hour.
            </em>
            <p class="success-text">
                For cancelation please call (555)-555-5555
            </p>
            <a class="btn btn-success" asp-action="index" asp-controller="Home">
                Return to Home
            </a>
        </div>
    </div>
</div>
