@model Dictionary<int, StoreFront.UI.MVC.Models.CartItemViewModel>
@{
    ViewData["Title"] = "Cart";
    decimal? cartTotal = 0;
}
<section class="">
<div class="container">
    <div class="col-lg-10">

    </div>
</div>

</section>
