@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="btn-group">@**@
    
    <button type="button" class="btn btn-outline-light dropdown-toggle border-end mx-3" id="loginBtn" data-bs-toggle="dropdown" aria-expanded="false" value="Account">
        Account
    </button>
    <ul class="dropdown-menu">
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="dropdown-item">
                <a class="text-dark text-decoration-none" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
            </li>
            <li class="dropdown-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </li>
        }
        else
        {
            <li class="dropdown-item">
                <a class="text-dark text-decoration-none" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li class="dropdown-item">
                <a class="text-dark text-decoration-none" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        }
        
    </ul>
</div>


@*<ul class="d-flex navbar-nav">



    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
        </li>
        <li class="nav-item me-3">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-light">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item me-3">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>*@
