@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="row mb-5">
    <div class="offset-md-3 offset-sm-2 col-md-4 col-sm-3 bg-secondary border border-3 border-primary p-4 mt-3">
        <section>
            <form id="account" method="post" class="form-floating">
                <h1 class="text-light">@ViewData["Title"]</h1>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email" />
                    <label for="Input.Email" class="">Email</label>
                    <span asp-validation-for="Input.Email" class="text-light border-bottom border-danger border-3"></span>
                </div>

                <div class="form-floating mt-2">
                    <input asp-for="Input.Password" id="password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Password"/>
                    <label for="Input.Password">Password</label>
                    <span asp-validation-for="Input.Password" class="text-light border-bottom border-danger border-3"></span>
                </div>

                @*<div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
                *@


                <div>
                    <div class="checkbox mt-2">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                    @*</div>
                        <div class="mt-4 dropdown">
                        <p class="dropdown-item">
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        <p class="dropdown-item">
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                        <p class="dropdown-item">
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                        </p>
                        </div>*@
                    <div class="dropdown">
                        <button class="btn btn-lg btn-primary dropdown-toggle mt-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Not Working?
                        </button>
                        <ul class="dropdown-menu text-center text-decoration-none">
                            <li><a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a></li>
                            <li><a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend <br /> email confirmation</a></li>
                        </ul>
                    </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
